.is-dark {
    background-color: #231f20;
}

.is-active-nav-item {
    background-color: #db5940;
}

.is-white-bulleted {
    list-style-image: url(../images/bullet-white.png);
}

.is-hidden-visibility {
	visibility: hidden;
}

.is-hidden-display {
    display: none;
}