/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/*html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, *//*ol, ul, *//*li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: middle;}*//* HTML5 display-role reset for older browsers *//*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}*/

/**, *:before, *:after {*/
  /*-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;*/
 /*}*/

::selection { background: #231f20; color: white }
::-moz-selection { background: #231f20; color: white }

.landing {
    font-size: 1.3em;
}

/*a.blog {*/
    /*color: #777;*/
    /*position: relative;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*text-decoration: none;*/
    /*border-bottom: 1px dotted;*/
    /*vertical-align: baseline;*/
/*}*/

/*a.blog:hover {*/
    /*color: #444;*/
/*}*/

/*a.fixed {*/
  /*border-bottom: none;*/
/*}*/

/*a.fixed::after {*/
  /*border-bottom: 1px dotted #777;*/
  /*bottom: 1px;*/
  /*content: '';*/
  /*height: 0;*/
  /*left: 0;*/
  /*position: absolute;*/
  /*right: 0;*/
/*}*/

/*a.fixed:hover::after {*/
  /*border-bottom: 1px solid #777;*/
/*}*/

footer {
    background-color: #231f20;
    /*height: 24px;*/
    color: white;
    text-align: center;
    font-size: 1.1em;
    font-family: 'ProximaNova-Regular',Helvetica,Verdana,sans-serif;
    /*margin-top: 60px;*/
    padding: 168px 0;
    width: 100%;
}

article, .cke_editable {
    font-family:"ProximaNova-Regular", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin: 0px 0 14px 0;
}

/*body {*/
    /*color: #333333;*/
    /*color: #231f20;*/
    /*font-size: 1.1em;*/
/*}*/

/*h1 {*/
    /*font-size: 24px;*/
    /*margin: 36px 0 30px 0;*/
    /*text-transform:uppercase;*/
/*}*/

/*h1 a {*/
    /*border: 0;*/
    /*color: inherit;*/
    /*text-decoration: none;*/
    /*text-transform:inherit;*/
/*}*/

/*h1 a:hover {*/
    /*text-decoration: underline;*/
    /*color: inherit;*/
/*}*/

h1,h2,h3,h4,h5,strong,table caption,table th {
    font-family: 'ProximaNova-Bold', Helvetica, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
}

/*h2 {*/
    /*font-size: 22px;*/
    /*margin: 33px 0 27px 0;*/
/*}*/

/*h3 {*/
    /*font-size: 20px;*/
    /*margin: 22px 0 14px 0;*/
/*}*/

/*h4 {*/
    /*font-size: 18px;*/
    /*margin: 23px 0 13px 0;*/
/*}*/

/*h5 {*/
    /*font-size: 16px;*/
    /*margin: 12px 0 7px 0;*/
/*}*/

/*strong {*/
    /*vertical-align: baseline;*/
    /*line-height: 24px;*/
/*}*/

/*p {*/
    /*margin: 0.75em 0;*/
    /*margin: 36px 0 6px 0;*/
/*}*/

/*em {*/
    /*vertical-align: baseline;*/
    /*font-family: Helvetica, Verdana,sans-serif;*/
/*}*/

ul {
    /*padding-left: 42px;*/
    /*margin: 12px 0 0 0;*/
    /*list-style-type: square;*/
    list-style-image: url(../images/bullet.png);
}

/*ul li {*/
    /*padding-left: 6px;*/
/*}*/

/*ol {*/
    /*padding: 0 42px;*/
    /*margin: 12px 0 0 0;*/
    /*list-style-type: upper-roman;*/
/*}*/

/*ol li {*/
    /*padding-left: 6px;*/
/*}*/

/*table {*/
    /*font-size: 14px;*/
    /*border-bottom: 1px solid #ccc;*/
    /*margin: 12px 0 17px 0;*/
/*}*/

/*table caption {*/
    /*text-align: left;*/
    /*margin-bottom: 12px;*/
/*}*/

/*table th {*/
    /*border-bottom: 1px solid #ccc;*/
    /*padding-bottom: 6px;*/
/*}*/

/*table td {*/
    /*line-height: 18px;*/
    /*padding: 6px 12px 0 12px;*/
/*}*/

/*pre {*/
    /*font-family: Consolas,monospace;*/
    /*font-size: 0.8em;*/
/*}*/

/*input {*/
    /*border: 1px solid #bbb;*/
    /*padding: 12px 0.65rem;*/
    /*width: 100%;*/
/*}*/

.margin-top-xlg {
    margin-top: 72px;
}

#nav {
    font-family: 'NeutraDisplay-Medium', Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    /*background-color: #404041;*/
    z-index: 9999;
    opacity: 0.9;
}

.horiz-menu {
    margin: 0 auto;
    list-style: none;
    padding: 0;
    /*height: 100;*/
    /*display: table;*/
/*    width: 49.9%;*/
}

.horiz-menu li {
    padding: 0;
    display: inline;
}

.nav-left {
    float: left;
    padding-right: 40px;
}

.nav-right {
    padding-left: 40px;
    float: right;
}

.nav-left li {
    float: right;
}

.nav-right li {
    float: left;
}

.nav-item {
    color: #ffffff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #db5940;
    color: inherit;
    text-decoration: inherit;
}
.nav-item:focus {
    outline: inherit;
    outline-offset: inherit;
    color: #FFFFFF;
    text-decoration: inherit;
}

.inline-block {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

#SparkLogo {
    position: absolute;
    top:33%;
    display: none;
}

.clear {
    clear: both;
}

.width1of3 {
    width: 32.333333%;
    margin-right: 1%;
    float: left;
}

.width1of2 {
    width: 49%;
    margin-right: 1%;
    margin-top: 9px;
    float: left;
}

.language-chooser {
    position: absolute;
    width: 15%;
    left: 85%;
    top: 35%;
}

.languages {
    list-style: none;
    font-size: 0.7em;
/*    padding: 12px 0;*/
    margin-right: 10px;
    float: right;
}
.languages li {
    display: inline;
    margin-right: 3px;
}

.language-item {
    color: #999;
    text-decoration: none;
}
.language-item:hover {
    color: #fff;
    text-decoration: underline;
}

.current-language {
    color: #fff;
}

.description-block, .events-topic-description {
    font-family: 'ProximaNova-Regular', Helvetica, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
}

.description-block {
    padding: 90px 0;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: normal;
}

.font-sm {
    font-size: 0.85em;
}

/*.container {*/
    /*margin: 0 auto;*/
/*}*/

#about {
    color: #ffffff;
    background: url(../images/logo-gray-extract.png) no-repeat right, #231f20;
}

#about p, #solutions p {
    visibility: hidden;
}

#events {
    background-color: #ffffff;
    color: #231f20;
}

#solutions, .solutions-header {
    background-color: #494452;
    color: #fff;
}

.magenta, .tekedu, .mega {
    padding-top: 36px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.magenta img {
    height: 70px;
}

.mega img {
    height: 120px;
}
/*
.partner a {
    padding-left: 20%;
    padding-right: 20%;
}
*/

.tekedu img {
    height: 150px;
}
/*
.tekedu a {
    padding-left: 30%;
    padding-right: 30%;
}
*/

table.partners td img {
    width: 100%;
}
table.partners {
    visibility: hidden;
}

.events-header, .contacts-header, .partners-header, .clients-header {
    background-color: #ffffff;
    color: #231f20;
}

.solutions-header {
    background-color: rgb(73, 68, 82);
    color: #ffffff;
}

#solutionsContent {
    width: 100%;
}

.blog-page-header {
    padding: 24px 0;
    min-height: 10px;
}

.block-header, .small-block-header {
    font-family:'ProximaNova-Bold', Helvetica, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 75px;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
}

.small-block-header {
    font-size: 0.85em;
    margin-top: 24px;
}

.events-topic-first, .events-topic-second {
    width: 48%;
}

.event-details {
    font-family: 'ProximaNova-Regular', Helvetica, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #999999;
    font-size: 0.9em;
    text-align: center;
}

#bizpower, #prism, #tedxchisinau, #girlsgoit {
    text-align: center;
    margin-bottom: 36px;
}

#prism img {
    width: 300px;
}

#bizpower img {
    width: 150px;
}

#girlsgoit img {
    width: 200px;
}

#tedxchisinau, #girlsgoit {
    margin-bottom: 60px;
}

.events-topic-first { margin-right: 2%; float: left; }
.events-topic-second { margin-left: 2%; float: right; }

.events-topic-header {
    font-family: "ProximaNova-Bold", Helvetica, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 1em;
    margin: 24px 0 18px;
    text-transform: uppercase;
}

.events-topic-description {
    font-size: 1.05em;
    line-height: inherit;
}

.contact-details {
    font-size: 1.5em;
    text-align: center;
    padding-top: 48px;
    margin-bottom: 96px;
}

.block-delimiter {
    position: absolute;
    margin-top: -29px;
    width: 100%;
    text-align: center;
}
.nav-logo-to-delete {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.nav-logo {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.delimiter {
    height: 2px;
    background-color: #ccc;
}

@media all and (min-width: 1600px) {
    .description-block {
        font-size: 1.4em;
        line-height: 1.3em;
    }
    .container {
        width: 1400px;
    }
    #bizpower img {
        width: 200px;
        margin-bottom: 12px;
    }
    .events-topic-header {
        font-size: 1.2em;
    }
    .events-topic-description {
        font-size: 1.2em;
        line-height: 1.35em;
    }
    .horiz-menu {
        font-size: 1.2em;
    }
/*
    .nav-logo {
        margin-top: 6px;
    }
*/
}

@media all and (min-width: 1280px) and (max-width: 1599px) {
    .container {
        width: 1000px;
    }
    #bizpower img {
        width: 150px;
    }
    .horiz-menu {
        font-size: 1em;
    }
    .languages {
        padding: 11px 0;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 860px;
    }
}

@media all and (min-width: 800px) and (max-width: 1023px) {
    .block-header {
        font-size: 1.1em;
        margin-bottom: 50px;
    }
    .container {
        width: 720px;
    }
    .events-topic-header {
        font-size: 1em;
    }
/*
    .nav-logo {
        margin-top: 4px;
    }
*/
    .contact-details {
        font-size: 1.2em;
    }
}

@media all and (min-width: 500px) and (max-width: 799px) {
    .description-block {
        font-size: 1.5em;
        padding: 65px 0;
    }
    .block-header {
        font-size: 1.2em;
        margin-bottom: 50px;
    }
    .container {
        width: 480px;
    }
    .events-topic-header {
        font-size: 1em;
    }
    .events-topic-description {
        font-size: 1.2em;
    }
    .horiz-menu {
        font-size: 0.8em;
    }
    .nav-item {
        padding: 15px 10px;
    }
/*
    .nav-logo {
        margin-top: 4px;
        height: 36px;
        margin-left: -15px
    }
*/
    .nav-left {
        padding-right: 25px;
    }
    .nav-right {
        padding-left: 25px;
    }
    .contact-details {
        font-size: 1.2em;
    }
    .events-topic-first, .events-topic-second {
        width: 100%;
        margin: 0;
    }
    .width1of3 {
        width: 100%;
        margin: 8px 0;
    }
    .languages {
        list-style: none;
        font-size: 0.6em;
        padding: 5px 0;
    }
}

@media all and (max-width: 499px) {
    .description-block {
        padding: 65px 0;
    }
    .block-header {
        margin-bottom: 50px;
    }
    .container {
        width: 400px;
    }
    .horiz-menu {
        font-size: 0.8em;
    }
    .nav-item {
        padding: 10px;
    }
/*
    .nav-logo {
        margin-top: 15px;
        height: 36px;
        margin-left: -15px
    }
*/
    .contact-details {
        font-size: 1.2em;
    }
    .events-topic-first, .events-topic-second {
        width: 100%;
        margin: 0;
    }
    .width1of3 {
        width: 100%;
        margin: 8px 0;
    }
    .languages {
        padding-top: 0;
        font-size: 0.55em;
    }
    .languages li {
        float: none;
        margin-bottom: 4px;
    }
}

.is-dark {
    background-color: #231f20;
}

.is-active-nav-item {
    background-color: #db5940;
}

.is-white-bulleted {
    list-style-image: url(../images/bullet-white.png);
}

.is-hidden-visibility {
    visibility: hidden;
}

.is-hidden-display {
    display: none;
}


/* ------------------------ */
/* --- blog page styles --- */
/* ------------------------ */


.article, table.author td {
    font-family:"ProximaNova-Regular", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.article {
    font-size: 1.5em;
    margin-bottom: 96px;
}

table.author {
    margin-bottom: 1em;
}
table.author::after {
    clear: both;
}

table.author td.author-name, table.author td.article-list-author-name {
    font-family: "ProximaNova-Bold", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}
table.author td.author-name {
    line-height: 1.3em;
    font-size: 1.1em;
    /*text-wrap: none;*/
}
table.author td.article-list-author-name {
    line-height: 1em;
    font-size: 0.7em;
    padding-left: 0.8em;
}

table.author td.author-name, table.author td.author-label {
    padding-left: 1em;
}
table.author td.author-label {
    font-size: 1.2em;
}

div.sidebar {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 1em 0;
}

.tags {
    margin-top: 1.5em;
}

.sharing-buttons {
    /*margin-top: 96px;*/
}

.comments {
    margin-top: 48px;
}

.publish-date {
    display: block;
    font-family: "ProximaNova-Regular", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}

.publish-date {
    font-size: 0.9em;
}

.article-list-tags {
    font-size: 0.8em;
}

.page-navigation {
    margin-bottom: 36px;
}


/* -------------------- */
/* --- blog sidebar --- */
/* -------------------- */


.menu-btn {
    position: fixed;
    top: 24px;
    right: 24px;
    z-index: 9999;
}

.blog-sidebar {
    background-color: #231f20;
    position: fixed;
    top: 0;
    right: 0;
    padding: 48px;
    z-index: 9998;
    height: 100%;
}

.sidebar-container {
    margin-top: 48px;
}

.sidebar-container h5 {
    color: #fff;
    margin-top: 36px;
}

.sidebar-article {
    display: block;
    color: #FFFFFF;
}

.label-sidebar {
    border: 1px solid #FFFFFF;
}
a.label-sidebar:hover {
    background-color: #FFFFFF;
    color: #231f20;
}

/* ----------------------------------- */
/* --- blog on landing_page styles --- */
/* ----------------------------------- */

.landing-page-article {
    /*min-height: 100%;*/
    /*height: 100%;*/
    padding-bottom: 36px;
}

a.landing-page-continue-reading {
    position: absolute;
    bottom: 24px;
    right: 24px;
}



/* ----------------------------- */
/* columns of same height styles */
/* ----------------------------- */


.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
