{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid">

        <!-- Logo row -->
        <div class="row">

            <div class="col-xs-0 col-lg-1"></div>

            <div class="col-xs-12 col-md-2 col-lg-2">
                <img src="{% static 'images/spark_horizontal_logo.png' %}" alt="Spark Research Labs" height="200"/>
            </div>
            <div class="col-xs-0 col-lg-9">
{#                <img src="{% static 'images/spark_horizontal_logo.png' %}" alt="Spark Research Labs" height="170"/>#}
            </div>
        </div>

        <!-- Article row -->
        <div class="row">

            <div class="col-xs-0 col-lg-1"></div>

            <div class="col-xs-12 col-md-2 col-lg-2"></div>

            <div class="col-xs-12 col-md-9 col-lg-7">

                {% for article in article_list %}

                    {{ article.full_name|upper }}<br />


                <div class="article">

                    <h1>
                        <a href="{% url 'article' article.slug %}">{{ article.title }}</a>
                    </h1>

                    <div class="metadata">

                        <table class="author" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="min-width: 2%;">
                                    <a href="{% url 'author' article.author.user %}">
                                    <img src="{{ MEDIA_URL }}{{ article.author.picture }}" alt="{{ article.author.name }}" width="36" />
                                    </a>
                                </td>
                                <td class="article-list-author-name text-left">
                                    <span>
                                        <a href="{% url 'author' article.author.user %}">{{ article.author.user }}</a>
                                    </span>
                                    <span class="publish-date">{{ article.published_at|date:"F j, o" }}</span>
                                </td>

                                <td class="article-list-tags text-right">

                                {% for tag in article.tags.all %}

                                    <span>
                                        <a href="{% url 'tag' tag.name %}" class="label label-primary"> {{ tag.name }}</a>
                                    </span>

                                {% endfor %}

                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                        {% autoescape off %}
                            {{ article.content|truncatechars:400 }}
                        {% endautoescape %}

                   <p></p>
                    <a href="{% url 'article' article.slug %}" class="btn btn-default">Continue Reading >></a>

                </div>

                {% endfor %}


                <div class="page-navigation">
                    <span class="step-links">

                        {% if article_list.has_next %}

                            <a href="?page={{ article_list.next_page_number }}" class="btn btn-link">&larr; Older</a>
                        {% endif %}

{#                        <span class="current">#}
{#                            Page {{ article_list.number }} of {{ article_list.paginator.num_pages }}#}
{#                        </span>#}

                        {% if article_list.has_previous %}
                            <a href="?page={{ article_list.previous_page_number }}" class="btn btn-link pull-right">Newer &rarr;</a>
                        {% endif %}

                    </span>
                </div>

            </div>

            <div class="col-xs-0 col-md-1 col-lg-2"></div>
        </div>

    </div>

    <footer>© 2015 Spark Research Labs. All Rights Reserved.</footer>

{% endblock content %}