{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Menu button -->
    <span class="menu-btn"><a href="#">menu</a></span>

    <div class="container-fluid">

        <!-- Logo row -->
        <div class="row">

            <div class="col-xs-0 col-lg-1"></div>

            <div class="col-xs-12 col-md-2 col-lg-2">
                <img src="{% static 'images/spark_horizontal_logo.png' %}" alt="Spark Research Labs" height="200"/>
            </div>
            <div class="col-xs-0 col-lg-9">
{#                <img src="{% static 'images/spark_horizontal_logo.png' %}" alt="Spark Research Labs" height="170"/>#}
            </div>
        </div>

{#        <!-- Title row -->#}
{#        <div class="row">#}
{#            <div class="col-xs-0 col-lg-1"></div>#}
{##}
{#            <div class="col-xs-12 col-md-2 col-lg-2"></div>#}
{##}
{#            <div class="col-xs-12 col-md-9 col-lg-7">#}
{#                <h1>Lorem ipsum dolor sit amet</h1>#}
{#            </div>#}
{##}
{#            <div class="col-xs-0 col-md-1 col-lg-2"></div>#}
{#        </div>#}

        <!-- Article row -->
        <div class="row">

            <div class="col-xs-0 col-lg-1"></div>

            <div class="col-xs-12 col-md-2 col-lg-2">
                <h1 style="visibility: hidden;">.</h1>
                <div class="sidebar">

                    <!-- Publishing date -->
{#                    <p class="">#}
{#                        May 23, 2015#}
{#                    </p>#}

                    <!-- Author photo and name -->
                    <table class="author">
                        <tbody>
                        <tr>
                            <td>
                                <a href="{% url 'author' article.author.user %}">
                                    <img src="{{ MEDIA_URL }}{{ article.author.picture }}" alt="{{ article.author.name }}" width="63" />
                                </a>
                            </td>
                            <td class="author-name">
                                <span>By <a href="{% url 'author' article.author.user %}"> {{ article.author.user }}</a></span>
                                <span class="publish-date">{{ article.published_at|date:"F j, o" }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Author short bio  -->
                    <p>
                        {{ article.author.bio }}
                    </p>

                    <div class="tags">

                        {% for tag in article.tags.all %}
                            <span>
                                <a href="{% url 'tag' tag.name %}" class="label label-primary"> {{ tag.name }}</a>
                            </span>
                        {% endfor %}

                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-md-9 col-lg-7">
                <div class="article">
                    <h1>{{ article.title }}</h1>

                    {% autoescape off %}
                        {{ article.content }}
                    {% endautoescape %}
                </div>

                <div class="sharing-buttons">
                    <h5>{{ article.call_to_action }}</h5>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                </div>

                <div class="comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'sparkresearchlabs';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>

            </div>

            <div class="col-xs-0 col-md-1 col-lg-2"></div>
        </div>

    </div>

    <div class="blog-sidebar col-xs-6 col-sm-4 col-md-3">
        <div class="sidebar-container">

            <h5>Join us</h5>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>

            <h5>Recent articles</h5>

            {% for article in article_list|slice:":5"  %}

                <a href="{% url 'article' article.slug %}" class="sidebar-article">{{ article.title }}</a>
            {% endfor %}

            <h5>Tags</h5>
            {% for tag in tags.all %}
                <span>
                    <a href="{% url 'tag' tag.name %}" class="label label-sidebar"> {{ tag.name }}</a>
                </span>
            {% endfor %}

        </div>
    </div>

    <footer>© 2015 Spark Research Labs. All Rights Reserved.</footer>

{% endblock content %}